<head>
    <link href="css.css" rel="stylesheet" type="text/css">
    <title>Ultimate Incremental V11a</title>
</head>
<body>
	<p id="points"></p>
	<p id="prod"> </p>
	<button onclick="clickPoints()">click</button>
	
	<canvas id="buttonBackground" onclick="buyGen(page + 1)" width="200" height="100">
		<h1 id="genName">a</h1>
		<h1 id="genOwned">a</h1>
		<h1 id="genPrice">a</h1>
	</canvas>
	
	<p id="gen 1 info"></p>
	<button onclick="buyGen(1)"> Buy Generator 1 </button>
	<p id="gen 2 info"></p>
	<button onclick="buyGen(2)"> Buy Generator 2 </button>
	<p id="gen 3 info"></p>
	<button onclick="buyGen(3)"> Buy Generator 3 </button>
	<p id="gen 4 info"></p>
	<button onclick="buyGen(4)"> Buy Generator 4 </button>
	<p id="gen 5 info"></p>
	<button onclick="buyGen(5)"> Buy Generator 5 </button>
	
	<div id="app2">
  {{ message }}
	</div>
	<!--
	<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>
</body>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>-->

<!-- This loads all of the code -->
<script type="text/javascript" src="code/vue.js"></script>	
<script type="text/javascript" src="code/break_eternity.js"></script>

<script type="text/javascript" src="code/main.js"></script>

<script type="text/javascript" src="code/ui/generatorUI.js"></script>
